# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# VS Code Settings
.vscode/

# Jupyter
.ipynb_checkpoints/

# Build Files
build/
dist/

# OS Files
Thumbs.db
Desktop.ini

# Environment Variables
.env

# Logs
*.log